<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocialMedia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   {% include 'components/_styles.html' %}
</head>

<body>

<header>
       {% include 'components/_header.html' %}

</header>
<main>
    {% block content %}



    {% endblock content %}


</main>
 <!-- Scripts
    ================================================== -->

</body>


</html>